<footer class="bg-body-tertiary fixed text-center text-lg-start">
  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: #fbca03; color: #aa0505"
  >
    © 2024 <b> GlobalManagerzz</b>
  </div>
  <!-- Copyright -->
</footer>
