<nav
  class="navbar body-tertiary p-4 shadow-lg"
  style="background-color: #0a0908"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #f2f4f3">
      <img
        src="Untitled_design-removebg-preview.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Todo
    </a>
  </div>
</nav>
